<!DOCTYPE html>
<html>
<title>Wrong address</title>
<head>
    <style>
        body{
            text-align:center;
            .button{
                padding:15px;
                color: #fff;
                background-color: #4CAF50;
                margin-top:20px;
                text-decoration: none;
            }
        }
         </style>
</head>

<body>

<h1>Ooops 404! May You are not Logged In...</h1>

<h2>Please Go to Login Page</h2>
<a href="{% url 'login' %}" class="button">Sign In</a>
</body>
</html>